@tailwind base;
@tailwind components;
@tailwind utilities;

.image-1 {
    border-top-right-radius: 20%;  
    border-bottom-left-radius: 20%; 
    overflow: hidden; 
   
  }
  #fltr{
    filter: brightness(1); /* Darkens the image */
  transition: filter 0.3s ease; /* Smooth transition to real color */
  }

  #fltr:hover{
    filter: brightness(1); /* Reveals the image's true colors */
  }


  .image-2 {
    border-top-left-radius: 20%;
    border-bottom-right-radius: 30%; 
    overflow: hidden; 
  }
  
/* new style ////////////// */

.container {
 
  border: 1px solid #000;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.text {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.2em;
  transition: top 1s;
  padding: 60px;
}

.container:hover .text {
  top: 0;
}